# Pantip Post Body Summarization

Refernce: https://huggingface.co/transformers/task_summary.html#summarization

## Setup

In [8]:
!pip install pythainlp

Collecting pythainlp
  Downloading pythainlp-2.3.2-py3-none-any.whl (11.0 MB)
     |████████████████████████████████| 11.0 MB 3.5 MB/s
Collecting python-crfsuite>=0.9.6
  Downloading python_crfsuite-0.9.7-cp37-cp37m-manylinux1_x86_64.whl (743 kB)
     |████████████████████████████████| 743 kB 31.6 MB/s
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from pythainlp) (2.23.0)
Collecting tinydb>=3.0
  Downloading tinydb-4.5.2-py3-none-any.whl (23 kB)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (1.24.3)
Collecting typing-extensions<4.0.0,>=3.10.0
  Downloading typing_extensions-3.10.0.2-py3-none-any.whl (26 kB)
Installing collected packages: typing-extensions, tinydb, python-crfsuite, pythainlp
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 3.7.4.3
    Uninstalling typing-extensions-3.7.4.3:
      Successfully uninstalled typing-extensions-3.7.4.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.6.0 requires typing-extensions~=3.7.4, but you have typing-extensions 3.10.0.2 which is incompatible.
Successfully installed pythainlp-2.3.2 python-crfsuite-0.9.7 tinydb-4.5.2 typing-extensions-3.10.0.2

In [1]:
from pythainlp.summarize import summarize

In [3]:
import pandas as pd

## Model

In [9]:
summarize('ทำเนียบท่าช้าง หรือ วังถนนพระอาทิตย์ ตั้งอยู่บนถนนพระอาทิตย์ เขตพระนคร กรุงเทพมหานคร', n=3)

['ทำเนียบท่าช้าง', 'เขตพระนคร', 'วังถนนพระอาทิตย์']

## Data Processing

In [14]:
posts = pd.read_csv('posts.csv')
comments = pd.read_csv('comments.csv')

In [15]:
comments.reply_to = pd.to_numeric(comments.reply_to)

In [16]:
post_content = comments[pd.isna(comments.reply_to)]
post_content

       comment_id  ... reply_to
0      38597354-0  ...      NaN
127    41041562-0  ...      NaN
212    41040956-0  ...      NaN
276    41031597-0  ...      NaN
497    30467953-0  ...      NaN
...           ...  ...      ...
63464  30433297-0  ...      NaN
63563  39698219-0  ...      NaN
63632  39708177-0  ...      NaN
63700  32475418-0  ...      NaN
63785  39682791-0  ...      NaN

[574 rows x 5 columns]

## Inferring

In [17]:
summarized_list = []

In [22]:
for idx, post in post_content.iterrows():
  post_id = int(post.comment_id.split('-')[0])
  title = posts[posts.id == post_id].title.values[0]
  text = str(post.text).strip()
  summary = " ".join(summarize(text, n=max(3, int(len(text) * 0.1))))

  summarized_list.append({
      'post_title': title,
      'summary_post_content': summary
  })

In [23]:
result = pd.DataFrame(summarized_list)
result.to_csv('result.csv')