# Post Processing

In [1]:
import pandas as pd

In [2]:
posts_df = pd.read_csv('../posts.csv')
comments_df = pd.read_csv('../comments.csv')

In [3]:
posts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      574 non-null    int64
 1   Unnamed: 0.1    574 non-null    int64
 2   post_id         574 non-null    int64
 3   title           574 non-null    object
 4   url             574 non-null    object
 5   comment_count   574 non-null    int64
 6   vote_count      574 non-null    int64
 7   published_date  574 non-null    object
dtypes: int64(5), object(3)
memory usage: 36.0+ KB

In [4]:
posts_df = posts_df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
posts_df = posts_df.rename(columns={"post_id": "id", "published_date": "published_at"})
posts_df.published_at = pd.to_datetime(posts_df.published_at)
posts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             574 non-null    int64
 1   title          574 non-null    object
 2   url            574 non-null    object
 3   comment_count  574 non-null    int64
 4   vote_count     574 non-null    int64
 5   published_at   574 non-null    datetime64[ns, pytz.FixedOffset(402)]
dtypes: datetime64[ns, pytz.FixedOffset(402)](1), int64(3), object(2)
memory usage: 27.0+ KB

In [5]:
posts_df.describe()

                 id  comment_count   vote_count
count  5.740000e+02     574.000000   574.000000
mean   3.824681e+07     112.775261    39.317073
std    3.092140e+06     123.000929   116.985734
min    3.010639e+07      51.000000     0.000000
25%    3.608681e+07      70.000000     0.000000
50%    3.993417e+07      91.000000     2.000000
75%    4.049911e+07     124.000000    17.000000
max    4.104156e+07    2000.000000  1400.000000

In [6]:
posts_df.head()

,id,title,url,comment_count,vote_count,published_at
0,38597354,ถึงคนที่มีทุกอย่างอย่างที่ฝันไว้แล้ว..ว่าจริงห...,https://pantip.com/topic/38597354,126,3,2019-02-26 23:06:00+06:42
1,41041562,เด็กจบใหม่กับความเครียดจากครอบครัวและการหางาน,https://pantip.com/topic/41041562,82,0,2021-10-15 01:21:00+06:42
2,41040956,พนักงานออฟฟิศ สิ่งไหนที่เจ้านายทำแล้ว พนักงานร...,https://pantip.com/topic/41040956,64,0,2021-10-14 19:51:00+06:42
3,41031597,มีวิธีรับมืออย่างไรเมื่อเจอกับคนที่ทำงานเก่งมา...,https://pantip.com/topic/41031597,218,15,2021-10-10 09:05:00+06:42
4,30467953,คนขายประกันที่บอกว่าไปเที่ยวเมืองนอก ได้เงินเด...,https://pantip.com/topic/30467953,62,0,2013-05-10 09:59:00+06:42

In [7]:
comments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63865 entries, 0 to 63864
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    63865 non-null  int64
 1   comment_id    63865 non-null  object
 2   comment_body  62858 non-null  object
 3   collected_at  63865 non-null  object
 4   published_at  63865 non-null  object
 5   reply_to      63291 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 2.9+ MB

In [8]:
comments_df = comments_df.drop(['Unnamed: 0'], axis=1)
comments_df = comments_df.rename(columns={"comment_body": "text"})
comments_df.reply_to = pd.to_numeric(comments_df.reply_to)
comments_df.published_at = pd.to_datetime(comments_df.published_at)
comments_df.collected_at = pd.to_datetime(comments_df.collected_at)
comments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63865 entries, 0 to 63864
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   comment_id    63865 non-null  object
 1   text          62858 non-null  object
 2   collected_at  63865 non-null  datetime64[ns]
 3   published_at  63865 non-null  datetime64[ns, pytz.FixedOffset(402)]
 4   reply_to      63291 non-null  float64
dtypes: datetime64[ns, pytz.FixedOffset(402)](1), datetime64[ns](1), float64(1), object(2)
memory usage: 2.4+ MB

In [9]:
comments_df.head()

,comment_id,text,collected_at,published_at,reply_to
0,38597354-0,...,2021-10-19 13:48:11.703888,2019-02-26 23:06:26+06:42,NaN
1,38597354-e33bedab-5d47-48c3-aa99-23eb5a34ef0a,,2021-10-19 13:48:11.760978,2019-02-26 23:09:18+06:42,38597354.0
2,38597354-7d943e09-f571-4f55-ac7a-fedf0f5ef703,...,2021-10-19 13:48:11.804020,2019-02-27 00:00:36+06:42,38597354.0
3,38597354-f62623b2-4511-46bd-b156-29691667ce38,...,2021-10-19 13:48:11.849455,2019-02-27 02:31:00+06:42,38597354.0
4,38597354-c440f901-80c5-4941-865f-0795003cfa8d,,2021-10-19 13:48:11.887546,2019-02-27 04:34:28+06:42,38597354.0

In [10]:
posts_df.to_csv('posts.csv')
comments_df.to_csv('comments.csv')