# Post Processing

In [41]:
import pandas as pd

In [42]:
posts_df = pd.read_csv('../posts.csv')
comments_df = pd.read_csv('../comments.csv')

In [43]:
posts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      574 non-null    int64
 1   Unnamed: 0.1    574 non-null    int64
 2   Unnamed: 0.1.1  574 non-null    int64
 3   post_id         574 non-null    int64
 4   title           574 non-null    object
 5   url             574 non-null    object
 6   comment_count   574 non-null    int64
 7   vote_count      574 non-null    int64
 8   published_date  574 non-null    object
dtypes: int64(6), object(3)
memory usage: 40.5+ KB

In [44]:
posts_df = posts_df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'], axis=1)
posts_df = posts_df.rename(columns={"post_id": "id", "published_date": "published_at"})
posts_df.published_at = pd.to_datetime(posts_df.published_at)
posts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             574 non-null    int64
 1   title          574 non-null    object
 2   url            574 non-null    object
 3   comment_count  574 non-null    int64
 4   vote_count     574 non-null    int64
 5   published_at   574 non-null    datetime64[ns, pytz.FixedOffset(402)]
dtypes: datetime64[ns, pytz.FixedOffset(402)](1), int64(3), object(2)
memory usage: 27.0+ KB

In [45]:
posts_df.describe()

                 id  comment_count   vote_count
count  5.740000e+02     574.000000   574.000000
mean   3.824681e+07   31476.538328    39.317073
std    3.092140e+06   18494.755831   116.985734
min    3.010639e+07     126.000000     0.000000
25%    3.608681e+07   15591.750000     0.000000
50%    3.993417e+07   30768.500000     2.000000
75%    4.049911e+07   47162.750000    17.000000
max    4.104156e+07   63866.000000  1400.000000

In [46]:
posts_df.head()

,id,title,url,comment_count,vote_count,published_at
0,38597354,ถึงคนที่มีทุกอย่างอย่างที่ฝันไว้แล้ว..ว่าจริงห...,https://pantip.com/topic/38597354,126,3,2019-02-26 23:06:26+06:42
1,41041562,เด็กจบใหม่กับความเครียดจากครอบครัวและการหางาน,https://pantip.com/topic/41041562,211,0,2021-10-15 01:21:22+06:42
2,41040956,พนักงานออฟฟิศ สิ่งไหนที่เจ้านายทำแล้ว พนักงานร...,https://pantip.com/topic/41040956,275,0,2021-10-14 19:51:54+06:42
3,41031597,มีวิธีรับมืออย่างไรเมื่อเจอกับคนที่ทำงานเก่งมา...,https://pantip.com/topic/41031597,496,15,2021-10-10 09:05:21+06:42
4,30467953,คนขายประกันที่บอกว่าไปเที่ยวเมืองนอก ได้เงินเด...,https://pantip.com/topic/30467953,538,0,2013-05-10 09:59:20+06:42

In [47]:
comments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63867 entries, 0 to 63866
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    63867 non-null  int64
 1   comment_id    63867 non-null  object
 2   comment_body  62850 non-null  object
 3   collected_at  63867 non-null  object
 4   published_at  63867 non-null  object
 5   reply_to      63293 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 2.9+ MB

In [48]:
comments_df = comments_df.drop(['Unnamed: 0'], axis=1)
comments_df = comments_df.rename(columns={"comment_body": "text"})
comments_df.reply_to = pd.to_numeric(comments_df.reply_to)
comments_df.published_at = pd.to_datetime(comments_df.published_at)
comments_df.collected_at = pd.to_datetime(comments_df.collected_at)
comments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63867 entries, 0 to 63866
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   comment_id    63867 non-null  object
 1   text          62850 non-null  object
 2   collected_at  63867 non-null  datetime64[ns]
 3   published_at  63867 non-null  datetime64[ns, pytz.FixedOffset(402)]
 4   reply_to      63293 non-null  float64
dtypes: datetime64[ns, pytz.FixedOffset(402)](1), datetime64[ns](1), float64(1), object(2)
memory usage: 2.4+ MB

In [49]:
comments_df.head()

,comment_id,text,collected_at,published_at,reply_to
0,38597354-0,ผมคิดถึงเรื่องนี้มาหลายครั้ง แต่ก็ไม่เชิงว่าค...,2021-10-19 16:42:41.984684,2019-02-26 23:06:26+06:42,NaN
1,38597354-7817b4e7-6c30-414a-8145-c96864d38409,ซื้อความรักไม่ได้ ถึงเปย์ก็ได้แต่คนไม่จริงใจ,2021-10-19 16:42:42.034824,2019-02-26 23:09:18+06:42,38597354.0
2,38597354-314fe8b7-2ded-4b50-990b-21bded1edbf5,อยากได้ ไม่ได้ทุกข์ พอได้แล้วสุข สุขแล้วเบื่อ\...,2021-10-19 16:42:42.064554,2019-02-27 00:00:36+06:42,38597354.0
3,38597354-4f1ae8a3-3eac-46f3-91de-eca33be44e94,ความสุขมันก็คือการได้รับในสิ่งที่ตัวเองต้องการ...,2021-10-19 16:42:42.096689,2019-02-27 02:31:00+06:42,38597354.0
4,38597354-38e7901d-9402-445d-a235-99d2e772c641,ความสุขของแต่ละคนมันอยู่ที่นิยามของเจ้าตัวครับ,2021-10-19 16:42:42.125382,2019-02-27 04:34:28+06:42,38597354.0

In [50]:
posts_df.to_csv('posts.csv', index=False)
comments_df.to_csv('comments.csv', index=False)